/* 
body {
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h2 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: #FF6F00;
    text-decoration: none;
}

a2 {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container02 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-slider {
    background-color: #FF6F00;
    width: 100%;
    text-align: center;

}

.content {
    background-color: #fff;
    height: 450px;
    width: 400px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
}

.content02 {
    background-color: white;
    height: 575px;
    width: 400px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: lightgray;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
}

button {
    background-color: #FF6F00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #E65100;
}

.other {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other h3 {
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
}

.display {
    display: flex;
}

#login,
#sign-up {
    font-weight: 700;
}

#nlabel,
#elabel,
#plabel {
    color: #424242;
} */





body {
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h2 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: #FF6F00;
    text-decoration: none;
}

a2 {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container02 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-slider {
    background-color: #FF6F00;
    width: 100%;
    text-align: center;

}

.content {
    background-color: #fff;
    height: 450px;
    width: 400px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
}

.content02 {
    background-color: white;
    height: 575px;
    width: 400px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: lightgray;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
}

button {
    background-color: #FF6F00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #E65100;
}

.other {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other h3 {
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
}

.display {
    display: flex;
}

#login,
#sign-up {
    font-weight: 700;
}

#nlabel,
#elabel,
#plabel {
    color: #424242;
}

#google-signin-button {
    background-color: #fff;
    color: #737373;
    border: 2px solid #737373;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  













